
h1 {
    margin-top:1em;
}

#regex  {
    width:100%;
}

#regex p:nth-child(1)  {
    margin:0;
    margin-left: 5%;
    float:left;
}

#regex p:nth-child(2)  {
    text-align: right;
    margin:0;
}

#regex p:nth-child(3)  {
    margin-bottom:-1em;
}

#regex p:nth-child(3) input {
    width:93%;
    margin-left: 1%;
}

#regex p:nth-child(3) label {
    width:5%;
}

#flags {
    padding:0;
    margin: 1em 0 1.5em 6%;
    font-size:12px;
}

#flags dd {
    display:none;
}

#flags dt {
    float:left;
    margin-right: 1em;
}


#flags dt:hover {
    text-decoration:underline;
}

#flags p {
    display:none;
}

#replace {
    clear:both;
}


#replace input {
    width:91%;
}

#text  {
     clear:both;
}

.text {
    width:100%;
    height:5em;
}

div.text {
    border: 1px solid grey;
    padding:1em;
}

div.text strong {
    background-color:yellow;
}

textarea.text {
    margin-top:1.2em;
}

#tooltip {
    background-color:white;
    width:200px;
    display:none;
    padding:1em;
    border: 1px solid blue;
}

#submit {
    float:left;
}

#submit a {
    display:none;
}

#download {
    text-align:right;
}

footer p {
    text-align:center;
    margin:0;
    font-style:italic;
    font-size:10px;
}

footer a {
    color:grey;
}